/* ~/.config/waybar/style.css' */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'SFNS Display';
    font-size: 15px;
}

window#waybar {
    background-color: rgba(10, 10, 10, 0.85);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    background-color: transparent;

}
